

body {
  font-family: Impact, fantasy;
  color: black;
  text-align: center; 
  background-image: url("brown.jpg");
  background-size: cover; 
  color: black; 
  width: 100%; 
  margin: 0 ; 
  padding: 0px 0; 
}

p {
  font-size: 18px;}

 .container_12 {
      width: 100%; /* Adjust as needed */
      max-width: 960px; /* Adjust based on your grid system */
      margin: 0 auto; /* Center the container */
    }

img.align-left {
   width: 290px;
   height: 290px;
   float: left;
   margin-right: 0px;
   margin-left: 30px;
   margin-top: 60px}

img.align-right {
   width: 290px;
   height: 290px;
   float: right;
   margin-right: 0px;
   margin-left: 0px;
   margin-top: 60px}
h1 {
  font-family: georgia, serif;
  font-size: 80px;
  text-align: center;
  /*background-image: url("Black.jpg");
  width: 70%;
  background-position: center;
  margin: 0 auto;*/
}
#nav, #feature, .article, #footer {
  background-color: none;
  margin-top: 40px;
  padding: 10px 0px 5px 0px;}
#feature, .article {
  height: 100px;}

ol {
  text-align: center;
  padding: 0;
  list-style: none;
}

figure {
  margin-top: 120px;
  margin-left: center;
  margin-right: center;
  
}

li  {
  display: inline;
  padding: 5px;
  font-size: 36;
  }

footer p {
  margin-top: 200px;}